/* Your app styles here */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    /* height: 14.48rem; */
    height: 100vh;
    overflow: hidden;
    /* -webkit-overflow-scrolling: touch; */
    /* background: #000; */
}

canvas {
    width: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
    font-size: 0;
    content: normal !important;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.fixed {
    position: fixed;
}

.center {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.mcenter {
    margin: 0 auto;
}

.centerh {
    top: 50%;
    transform: translate3d(0, -50%, 0);
}

.center.centerh {
    transform: translate3d(-50%, -50%, 0);
}

.js-none {
    display: none;
}

.pageBox {
    height: 100vh;
    top: 0;
    left: 0;
}


/* .pagebox {
    height: 100%;
} */

.page {
    height: 100%;
    text-align: center;
    font-size: 0;
}

.page .ctx {
    height: 100%;
}

input {
    border: 0;
    outline: none;
    font-size: 0.26rem;
    color: #fff;
    background: transparent;
}


/* @keyframes changeFilter {
  from {
    filter: drop-shadow(0 0 0PX #fff);
  }

  to {
    filter: drop-shadow(0 0 8PX #fff);
  }
} */

.pageBox1 {
    height: 100%;
}