<template>
    <div class="page final">
        <div class="rel ctx">
            <img src="@/images/p3.jpg" alt="">

            <!-- <div class="abs center txt">
                <img src="@/images/p3_txt.png" alt="">
            </div>
            <div class="abs center tips">
                <img src="@/images/p3_tips.png" alt="">
            </div> -->

        </div>

    </div>
</template>


<style lang="scss" scoped src="./final.scss"></style>


<script>
    export default {
        data() {
            return {}
        },
        mounted() {
            this.onInit();
        },
        methods: {
            onInit() {

            },

        },
    }
</script>