<template>
    <!-- <div class="fcBoxBg"> -->
    <div v-show="fcShow" ref="changefcShow">
        <div class="fcBox">
            <div class="fcImg" :style="`width:`+showFcImg.imgWidth">
                <img :src="showFcImg.fcImg" alt="">
                <span v-show="showFcImg.closeBtn" @click="closeFc" :class="`abs `+showFcImg.closeBtnP"></span>
            </div>
        </div>
    </div>
    <!-- </div> -->
</template>

<style scoped>
    .abs {
        position: absolute;
    }
    
    .fcBox {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
    }
    /* .fcBoxBg {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
    } */
    /* .fcBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    } */
    
    .isPartBtn {
        width: 50%;
        height: 0.5rem;
        top: 55%;
        left: 25%;
    }
    
    .noNetworkBtn {
        width: 50%;
        height: 0.5rem;
        top: 52%;
        left: 25%;
    }
</style>

<script>
    export default {
        name: 'floatinglayer',
        data() {
            return {
                fcShow: false, //初始浮层不显示
                showFcImg: {},
                showFcImgItems: {
                    'isPart': {
                        fcName: 'isPart',
                        fcImg: require("../images/isPart.png"),
                        imgWidth: '6.07rem',
                        closeBtn: true,
                        closeBtnP: 'isPartBtn',
                    },
                    'noNetWork': {
                        fcName: 'noNetWork',
                        fcImg: require("../images/noNetwork.png"),
                        imgWidth: '4.46rem',
                        closeBtn: true,
                        closeBtnP: 'noNetworkBtn',
                    }
                }


            }
        },
        mounted() {
            this.$on('show', (data) => {
                if (this.showFcImgItems.hasOwnProperty(data)) {
                    this.showFcImg = this.showFcImgItems[data]
                    this.$nextTick(() => {
                        this.showFc();
                    })
                } else {
                    console.log('layer', data)
                }
            })
        },
        methods: {
            showFc() {
                this.Utils.$An.fadeIn(this.$refs.changefcShow)
            },
            closeFc() {
                this.Utils.$An.fadeOut(this.$refs.changefcShow, {
                    callback: () => {
                        this.$emit('listenfloatinglayerevent', [this.showFcImg.fcName, 'done']);
                    }
                })
            }

        }
    }
</script>