<template>
    <!-- <div>{{message}}</div> -->
</template>

<style></style>

<script>
    export default {
        name: 'meituShare',
        data() {
            return {
                message: 'meitu',
                openData: {
                    "pageurl": window.location.href.split("#")[0],
                },
                title: 'NARS光环候选人，你PICK谁？',
                desc: '投票开启，NARS光环候选人，由你来定！',
                shareImg: require("../images/share_img.jpg"),
                shareImgUrl: 'https://campaign.narscosmetics.com.cn/radiancerepoweredchallenge/images/share_img.jpg',
            }
        },
        mounted() {
            this.$on('useShare', () => {
                this.meitushare();
            })
        },
        methods: {
            meitushare() {

                this.setShare({
                    title: this.title,
                    image: this.shareImgUrl,
                    description: this.desc,
                    link: this.openData.pageurl,
                });
            },

            setShare(data) {
                window.addEventListener('WebviewJsBridgeReady', function() {
                    window.MTJs = window.MTJs || window.WebviewJsBridge || window.MPJs;
                    MTJs.onSharePageInfo({
                        title: data.title,
                        image: data.image,
                        description: data.description,
                        link: data.link,
                        success: function() {}
                    });
                }, false);
            },
        }
    }
</script>