<template>
    <!-- <div>{{message}}</div> -->
</template>

<style></style>

<script>
    import wx from 'weixin-js-sdk';
    export default {
        name: 'wechatShare',
        data() {
            return {
                message: 'wechat',
                url: 'https://campaign.narscosmetics.com.cn/radiancerepowedchallengevote/service/getjssdk',
                openType: 'post',
                openData: {
                    "pageurl": window.location.href.split("#")[0]
                        // 'r': Math.random(),
                        // 'type': "signature",
                        // 'url': window.location.href.split("#")[0],
                        // 'weixinidx': 1
                },
                debug: false,
                title: 'NARS光环候选人，你PICK谁？',
                desc: '投票开启，NARS光环候选人，由你来定！',
                shareImg: require("../images/share_img.jpg"),
            }
        },
        mounted() {
            this.$on('useShare', () => {
                this.getSdk();
            })
        },
        methods: {
            getSdk() {
                var init = {
                    site: {
                        url: window.location.href.split('#')[0],
                        getPath: function() {
                            return this.url.substring(0, this.url.lastIndexOf('/') + 1)
                        }
                    }
                }
                init.projectData = {
                    share: {
                        moment: {
                            title: this.title,
                            imgUrl: init.site.getPath() + this.shareImg,
                            link: window.location.href.split('?')[0]
                        },
                        friend: {
                            title: this.title,
                            desc: this.desc,
                            imgUrl: init.site.getPath() + this.shareImg,
                            link: window.location.href.split('?')[0]
                        }
                    }
                }

                // var _timeStamp = new Date().getTime().toString();
                var formobj = new FormData();
                for (var key in this.openData) {
                    formobj.append(key, this.openData[key]);
                }
                var xhr = new XMLHttpRequest();
                xhr.open(this.openType, this.url, true);
                xhr.responseType = "json";
                xhr.onload = function() {
                    if (this.status == 200) {
                        var config = this.response;
                        console.log(config)

                        var wxConfig = {
                            debug: this.debug,
                            appId: config.appId,
                            timestamp: config.timestamp,
                            nonceStr: config.nonceStr,
                            signature: config.signature,
                            jsApiList: ['addCard', 'onMenuShareTimeline', 'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo'
                            ]
                        };
                        wx.config(wxConfig);
                    }
                };
                xhr.send(formobj);

                //绑定微信分享事件
                try {
                    wx.ready(function() {
                        //设置分享后的回调函数
                        var callback = {
                            success: function(msg) {
                                msg = JSON.stringify(msg).toLowerCase();
                                if (msg.indexOf('timeline') > -1) {
                                    //分享到朋友圈
                                    gtag('event', 'share_moment', {
                                        'event_category': 'NARS',
                                        'event_label': 'click'
                                    });

                                } else if (msg.indexOf('message') > -1) {
                                    //分享到给朋友
                                    gtag('event', 'share_friend', {
                                        'event_category': 'NARS',
                                        'event_label': 'click'
                                    });
                                }
                            }
                        };
                        wx.onMenuShareTimeline(Object.assign(init.projectData.share.moment,
                            callback));
                        wx.onMenuShareAppMessage(Object.assign(init.projectData.share.friend,
                            callback));
                    });

                } catch (e) {
                    var msg = '错误：微信js-sdk未引用或者错误!';
                    try {
                        console.log(msg);
                    } catch (e) {
                        alert(msg);
                    }
                    return;
                }
            }

        }
    }
</script>