<template>
    <!-- <div>{{message}}</div> -->
</template>

<style></style>

<script>
    export default {
        name: 'weiboShare',
        data() {
            return {
                message: 'weibo',
                openData: {
                    "pageurl": window.location.href.split("#")[0]
                },
                title: 'NARS光环候选人，你PICK谁？',
                shareImg: require("../images/share_img2.jpg"),
                shareImgUrl: 'https://campaign.narscosmetics.com.cn/radiancerepoweredchallenge/images/share_img2.jpg',
            }
        },
        mounted() {
            this.$on('useShare', () => {
                this.wbshare();
            })
        },
        methods: {
            wbshare() {
                // var d = window;
                // d.sharetitle = this.title; //分享内容的标题
                // d.shareUrl = encodeURIComponent(this.openData
                //     .pageurl); //分享内容的链接,链接一定要用encodeURIComponent处理一下，不然分享之后的链接会没有参数
                // d.shareImg = this.shareImg; //分享内容的图片链接

                //     // d.location.href = "https://service.weibo.com/share/share.php?url=" + d.shareUrl + "&title=" + d.sharetitle + "&searchPic=true";//微博自动抓取图片用这个
                //     // d.location.href = "https://service.weibo.com/share/share.php?url=" + d.shareUrl + "&title=" + d.sharetitle + "&pic=" + d.shareImg; //自定义图片用这个

                const share = {
                    title: this.title,
                    image_url: this.shareImgUrl,
                    share_url: encodeURIComponent(this.openData.pageurl),
                };
                location.replace('https://service.weibo.com/share/share.php?url=' + share.share_url + '&title=' + share
                    .title + '&pic=' + share.image_url);

            }
        }
    }
</script>