.page1 {
    .title {
        width: 412/100+rem;
        top: 58/100+rem;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .txt {
        width: 541/100+rem;
        left: 50%;
        top: 140/100+rem;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .formBox {
        width: 660/100+rem;
        top: 290/100+rem;
        left: 50%;
        transform: translate(-50%, 0);
        .selectIcon {
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            top: 70%;
            right: 0.2rem;
            transform: translate3d(0, -50%, 0);
            border: 1px solid #fff;
            border-width: .18rem 0.1rem;
            border-color: #fff transparent transparent transparent;
        }
        .privacyBox {
            margin-top: 15/100+rem;
            i {
                position: relative;
                display: inline-block;
                width: 30/100+rem;
                height: 30/100+rem;
                margin-right: 2%;
                border: 1px solid #fff;
                vertical-align: top;
                // float: left;
            }
            &.active {
                i {
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 0.3rem;
                        height: 0.3rem;
                        top: 25%;
                        left: 75%;
                        transform: translate3d(-50%, -50%, 0);
                        background: url(../../images/privacy_agree.png) no-repeat;
                        background-size: cover;
                    }
                }
            }
            img {
                width: 615/100+rem;
            }
            .privacyBtn {
                width: 40/100+rem;
                left: 0;
                top: 0;
            }
        }
        .btn {
            width: 151/100+rem;
            margin-top: 30/100+rem;
        }
        // 
        // 
        input,
        select {
            width: 100%;
            background: transparent;
            color: #fff;
            font-size: 0.28rem;
            border: none;
            appearance: none;
            outline: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        select option {
            color: #000;
        }
        input::-webkit-input-placeholder {
            color: #fff;
        }
        .selectBox {
            display: flex;
            .selectBoxItem {
                flex: 1;
            }
            .province_area {
                margin-right: 30/100+rem;
            }
        }
        .inputBox {
            margin-top: 12/100+rem;
            padding: 0 20/100+rem;
            border: 1px solid #fff;
            .inputBoxItem {
                line-height: 50/100+rem;
            }
        }
        .getCodeBox {
            width: 170/100+rem;
            height: 100%;
            top: 0;
            right: 0;
            background: #4d5562;
            .getCodeTxt {
                width: 100%;
            }
            span {
                letter-spacing: 2px;
                font-size: 0.22rem;
                color: #fff;
            }
        }
    }
}